.DS_Store
.metadata
logs
project/project
project/target
target
tmp
.history
dist
*.*~
/.idea
*.iml
*.ipr
*.iws
*~
/out
/.idea_modules
.classpath
.project
.settings/
/RUNNING_PID
test-output
acceptance/target
api/target
model/target
parent/target
processor/target
service/target
performance/target
velocity.log
nohup.out
